# postgres settings — used to connect to the test database
# copy this file as `.env.test` in this directory and adjust as needed.
DB_USER='eln'
DB_PASSWORD='eln'
DB_ADDR='localhost'
DB_PORT=5432
DB_TESTDB='eln_test'
