annotated-types==0.6.0
anyio==3.7.1
argcomplete==3.2.3
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
bcrypt==4.0.1
black==24.3.0
bleach==6.2.0
bleach-allowlist=1.0.3
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==3.4.8
cssselect2==0.7.0
datamodel-code-generator==0.25.5
decorator==5.1.1
Deprecated==1.2.14
dnspython==2.6.1
ecdsa==0.18.0
email_validator==2.1.1
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.104.1
fastjsonschema==2.20.0
filemagic==1.6
filetype==1.2.0
fonttools==4.51.0
genson==1.2.2
gevent==23.9.1
googleapis-common-protos==1.59.1
greenlet==3.0.3
grpcio==1.64.1
h11==0.14.0
html5lib==1.1
httptools==0.6.1
idna==3.7
imgkit==1.2.3
importlib_metadata==7.1.0
inflect==5.6.2
isort==5.13.2
jaeger-client==4.8.0
jaeger-logger-reporter==0.0.9
jedi==0.19.1
Jinja2==3.1.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mypy-extensions==1.0.0
nbformat==5.10.4
nest-asyncio==1.6.0
opentelemetry-api==1.25.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-exporter-jaeger-proto-grpc==1.21.0
opentelemetry-exporter-jaeger-thrift==1.21.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opentracing==2.4.0
packaging==24.0
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pycparser==2.21
pydantic~=2.9.1
pydantic_core~=2.23.3
pydyf==0.9.0
Pygments==2.18.0
PyJWT==1.7.1
pyphen==0.15.0
python-dotenv==1.0.1
python-i18n==0.3.9
python-jose==3.3.0
python-keycloak==5.1.2
python-multipart==0.0.9
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.18.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.51
sqlalchemy-events==0.1.0
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.27.0
threadloop==1.0.2
thrift==0.20.0
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
tornado==6.4.1
traitlets==5.14.3
typesense==1.0.3
typing_extensions==4.8.0
urllib3==2.2.2
uvicorn==0.24.0.post1
uvloop==0.19.0
watchfiles==0.21.0
wcwidth==0.2.13
weasyprint==61.2
webencodings==0.5.1
websocket==0.2.1
websockets==12.0
wrapt==1.16.0
zipp==3.19.2
zope.event==5.0
zope.interface==6.1
zopfli==0.2.3
