<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>
    {% block title %}
    {% endblock %}
  </title>

  <script>
      window.MathJax = {
          tex: {
              inlineMath: [['$', '$'], ['\\(', '\\)']],
              displayMath: [['$$', '$$'], ['\\[', '\\]']]
          },
          chtml: {
              scale: 1.5
          }
      };
  </script>


  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <style>
      html, body {
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
          font-size: 8px;
          color: #363636;
      }

      p {
          font-weight: normal;
          margin: 0;
      }

      span {
          display: block;
          width: 500px;
      }

      .additional-information {
          margin-bottom: 20px;
      }

      .dmp-form-data-name {
          width: 33%;
      }

      table {
          border-collapse: collapse;
          width: 100%
      }

      th, td {
          text-align: left;
          padding: 0px;
          border: 1px solid #ddd;
      }

      img {
          max-width: 700px;
          max-height: 500px;
          object-fit: contain;
      }

      .object_title {
          margin-bottom: 0px;
      }

      .info_created_by {
          text-align: right;
          font-style: italic;
          margin-bottom: 10px;
          display: block;
          color: #a0a0a0;
          border-bottom: 1px solid #ddd;
      }


      {% block extra_css %}
      {% endblock %}
  </style>

</head>
<body class="">
{% block content %}
{% endblock %}
</body>
</html>