{% extends 'base_export.jinja2' %}

{% block title %}
    Note  {{ instance.subject }}
{% endblock %}

{% block content %}
    <h2 class="object_title">
        {{ instance.subject }}
    </h2>
    <div class="info_created_by">
        Created by {{ instance.created_by.username }}
        at {{ instance.created_at.strftime("%Y-%m-%d %H:%M:%S") }}
    </div>

    <div>
        {{ instance.content }}
    </div>
    <div>
        {% for relation in note_relations %}
            <div style="margin-bottom: 20px">
                {% if relation.left_content_type == 70 %}
                    <h3 class="object_title">
                        Comment
                    </h3>
                    <div class="info_created_by">
                        Created
                        by {{ relation.left_content_object.created_by.username }}
                        at {{ relation.left_content_object.created_at.strftime("%Y-%m-%d %H:%M:%S") }}
                    </div>

                    <div>
                        {{ relation.left_content_object.content }}
                    </div>
                {% endif %}


            </div>
        {% endfor %}
    </div>
{% endblock %}
