{% extends 'base_mathjax.jinja2' %}

{% block title %}
    Picture  {{ instance.title }}
{% endblock %}

{% block content %}
    <h2 class="object_title">
        {{ instance.title }}
    </h2>
    <div class="info_created_by">
        Created by {{ instance.created_by.username }}
        at {{ instance.created_at.strftime("%Y-%m-%d %H:%M:%S") }}
    </div>

    {% if instance.rendered_image %}
       <img src="data:image/png;base64,{{ instance.rendered_image }}">
    {% endif %}

    <div>
        {% for relation in picture_relations %}
            <div style="margin-bottom: 20px">
                {% if relation.left_content_type == 70 %}
                    <h3 class="object_title">
                        Comment
                    </h3>
                    <div class="info_created_by">
                        Created
                        by {{ relation.left_content_object.created_by.username }}
                        at {{ relation.left_content_object.created_at.strftime("%Y-%m-%d %H:%M:%S") }}
                    </div>

                    <div>
                        {{ relation.left_content_object.content }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
